<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>DayZ - Types Editor</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="js/type.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <button id="import-pfx-button">Laden</button>
    <input type="file" id="file-input" style="display: none;" />

    
    <div id="appdayz">
        <div hidden>
            <label for="darkmodeCheckbox">Darkmode:</label>
            <input type="checkbox" v-model="darkmode" id="darkmodeCheckbox" />
        </div>
        <div>
            <p>{{ select_edit }}</p>
        </div>
        <div class="header">
            <div class="filterbox">

            </div>
        </div>
        <table class="tableFixHead table table-hover" :class="darkmodeClass">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Lifetime</th>
                    <th>Nominal</th>
                    <th>Restock</th>
                    <th>Min</th>
                    <th>QuantMin</th>
                    <th>QuantMax</th>
                    <th>Cost</th>
                    <th>Flags</th>
                    <th>Category</th>
                    <th>Usage</th>
                    <th>Value</th>
                    <th>*Aktionen</th>
                </tr>
            </thead>
            <tbody v-for="(type, i) in types" :key="i" >

                <!-- BEGIN ISEDITABLE == false -->

                <tr v-if="isEditable(i) == false">
                    <!--
                    <td><mannebox :type="type" property="name" editable="type.editable"></mannebox></td>
                    -->
                    <td class="itemname">{{ type.name }}</td>
                    <td class="number">{{ type.lifetime }}</td>
                    <td class="number">{{ type.nominal }}</td>
                    <td class="number">{{ type.restock }}</td>
                    <td class="number">{{ type.min }}</td>
                    <td class="number">{{ type.quantmin }}</td>
                    <td class="number">{{ type.quantmax }}</td>
                    <td class="number">{{ type.cost }}</td>
                    <td>
                        <table>
                            <tr>
                                <td v-for="(elem, j) in flagIcons" :key="j">
                                    <type-flag :value="type.flags[elem[0]]" :icon="elem[1]" ></type-flag>
                                    <!-- <i v-bind:class="elem[1]" -->
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>{{ type.category }}</td>                    
                    <td>
                        <usage-container 
                            v-for="(elem, j) in type.usage"
                            :key="j"
                            :name="elem"
                        >
                        </usage-container>
                        </td>     
                    <td>
                        <table>
                            <tr>
                                <td v-for="(elem, j) in type.value" :key="j">
                                    <value-tier
                                        :tier="j"
                                        :value="type.value"
                                        aria-disabled="true"
                                        :disabled=true
                                    >
                                    </value-tier>
                                </td>
                            </tr>
                        </table>
                    </td>               
                    <td>
                        <button v-on:click="setEditable(i)">
                            Edit
                        </button>
                    </td>
                </tr>

                <!-- ELSE ISEDITABLE == false -->
                <!-- also ist editierbar!-->

                <tr class="table-info" v-else>
                    <td><input type="text" v-model="type.name" class="itemname" /></td>
                    <td><input type="number" v-model="type.lifetime" class="number" /></td>
                    <td><input type="number" v-model="type.nominal" class="number" /></td>
                    <td><input type="number" v-model="type.restock" class="number" /></td>
                    <td><input type="number" v-model="type.min" class="number" /></td>
                    <td><input type="number" v-model="type.quantmin" class="number" /></td>
                    <td><input type="number" v-model="type.quantmax" class="number" /></td>
                    <td><input type="number" v-model="type.cost" class="number" /></td>
                    <td>
                        <table>
                            <tr>
                                <td v-for="(elem, j) in flagIcons" :key="j">
                                    <type-flag 
                                        :value="type.flags[elem[0]]"
                                        :icon="elem[1]"
                                        v-on:click.native="toggleFlag(elem[0])"
                                    ></type-flag>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <select v-model="type.category">
                            <option v-for="(elem, j) in categories" :value="elem">
                                {{ elem }}
                            </option>
                        </select>
                    </td>                    
                    <td>
                        <usage-container
                            v-for="(elem, j) in type.usage"
                            :key="j"
                            :name="elem"
                            :deletable="true"
                            :index="j"
                            :callback="deleteUsage"
                        >
                        </usage-container>
                        <select v-on:change="selectUsage">
                            <option value=""></option>
                            <option
                                v-for="(elem, j) in otherUsages"
                                :value="elem"
                            >
                                {{ elem }}
                            </option>
                        </select>
                    </td>                    
                    <td>
                        <table>
                            <tr>
                                <td v-for="(elem, j) in type.value" :key="j">
                                    <value-tier
                                        :tier="j"
                                        :value="type.value"
                                    ></value-tier>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <button v-on:click="setEditable(-1)">
                            Done
                        </button>
                    </td>
                </tr>

                <!-- END ISEDITABLE == false -->


            </tbody>
        </table>
        <!--
        <div class="modal fade" id="typeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table v-if="select_edit != -1">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td><input v-model="modal_type.name"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    
    <script>
        let xml = {}
        var app_dayz = new Vue({
            el: '#appdayz',
            data: {
                darkmode: false,
                types: [],
                flagIcons: type.flagIcons,
                categories: type.categories,
                select_edit: -1,
                modal_type: null
            },
            computed: {
                darkmodeClass: function() {
                    return this.darkmode ? "table-dark" : "";
                },
                otherUsages: function() {
                    let other = type.usages.filter(
                        (el) => this.types[this.select_edit].usage.includes(el) == false
                    )
                    return other
                }
            },
            methods: {
                setEditable: function(i) {
                    this.select_edit = i
                },
                isEditable: function(i) {
                    return i == this.select_edit;
                    //return i == app_dayz.data.select_edit
                },
                toggleFlag: function(flagName) {
                    this.types[this.select_edit].flags[flagName] = !this.types[this.select_edit].flags[flagName]
                },
                deleteUsage: function(index) {
                    this.types[this.select_edit].usage.splice(index, 1)
                },
                selectUsage: function(event) {
                    console.log(event)
                    let value = event.target.value
                    if (value !== "") {
                        this.types[this.select_edit].usage.push(value)
                        event.target.value = ""
                    }
                }
            }
        })
        
        function laden(e) {
            let file = e.target.files[0];
            let reader = new FileReader();
            reader.onload = onFileLoaded;
            reader.readAsText(file);
        }
        
        function onFileLoaded (e) {
            let text = e.target.result
            let xmlparser = new DOMParser();
            xml = xmlparser.parseFromString(text, "application/xml")
            let types = xml.getElementsByTagName('type')
            for (let i = 0; i < types.length; i++) {
                app_dayz.types.push(new type(types[i]))
            }
        }
        
        $(function () {
            $('#import-pfx-button').click(function(e) {
                $('#file-input').click();
            });
            $('#file-input').change(laden);
        });
    </script>
</body>
</html>