#file-input {
    display: none;
}

.number {
    width: 5em;
}

.itemname {
    width: 15em;
}

.tableFixHead          { overflow: auto; height: 100px;  }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; background-color: aliceblue; }